.devicon-java-plain-wordmark {
  font-size: 7rem
  }

.devicon-cplusplus-plain-wordmark {
  font-size: 7rem
  }

.devicon-python-plain-wordmark {
  font-size: 7rem
  }

.devicon-html5-plain-wordmark {
  font-size: 7rem
  }

  .devicon-apple-original {
    font-size: 7rem
    }
  
  .devicon-ubuntu-plain-wordmark {
    font-size: 7rem
    }
  
  .devicon-windows8-original {
    font-size: 7rem
    }

    .matlab-logo {
      font-size: 7rem
      }

      .h3 {
        font-size: 1.15em;
        letter-spacing: 0.025em;
        color: inherit;
        font-weight: 300;
        line-height: 1.75em;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
