.devicon-java-plain {
  font-size: 7rem
  }

.devicon-cplusplus-plain {
  font-size: 7rem
  }

.devicon-python-plain {
  font-size: 7rem
  }

.devicon-html5-plain {
  font-size: 7rem
  }

  .devicon-apple-original {
    font-size: 7rem
    }
  
  .devicon-ubuntu-plain {
    font-size: 7rem
    }
  
  .devicon-windows8-original {
    font-size: 7rem
    }

    .matlab-logo {
      height: 80;
      }

      .h3 {
        font-size: 1.15em;
        letter-spacing: 0.025em;
        color: inherit;
        font-weight: 300;
        line-height: 1.75em;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    .devicon-visualstudio-plain {
      font-size: 7rem
      }

      .devicon-github-plain {
        font-size: 7rem
        }
    
    